{# HG Mercury Image Template #}

{# Set Content CSS Classes #}
{% set classes = [
  'mercury',
  'mercury-image',
  'row',
  'mb-5',
  'clearfix',
] %}

{# Attached Style Sheet #}
{{ attach_library('hg_reader/hg_reader') }}

{# Content #}
<div{{ attributes.setAttribute('id', 'mercury').addClass(classes) }}>
  <div class="col">
    {# Image #}
    {% if content.field_hg_images is not empty %}
      <div class="hg-images p-1">
        <picture>
          {% if content.field_hg_images is defined %}
            {{ content.field_hg_images }}
          {% else %}
          {% endif %}
        </picture>
      </div>
    {% endif %}
    {# Description #}
    {% if content.body is not empty %}
      <div class="description p-1">
        {{ content.body[0] }}
      </div>
    {% endif %}
  </div>
</div>
